.company {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.company:hover {
  border-bottom: 1px solid white;
}
.position-holder {
  margin-bottom: 10px;
}
div.job {
  padding: 25px;
  margin-bottom: 20px;
  opacity: 0;
}
span.date {
  float: right;
  font-family: 'Roboto Slab', sans-serif;
}
span.job-title {
}
.job-info {
  margin-bottom: 10px;
}
.job-description {
  color: #b5d3e2;
  margin: 0;
}
@media (min-width: 501px)
{
  .position-holder:first-child span.date {
    display: none;
  }
}
@media (max-width: 500px)
{
  span.date {
    float: initial;
    display: block;
    font-size: 11pt;
  }
  span.date.top-date {
    display: none;
  }
  span.job-title {
    display: block;
  }
}