.company {
  color: #98cefb;
}
div.job {
  padding: 25px;
  margin-bottom: 20px;
  background: #45788833;
  box-shadow: 5px 5px 5px #040917;
  cursor: pointer;
}
div.job:hover {
  background: #365d6933;
}
div.job:hover .company {
  text-decoration: underline;
}
span.date {
  float: right;
  color: #eee;
}
span.job-title {
}
.job-info {
  margin-bottom: 10px;
}
.job-description {
  color: #b5d3e2;
  margin: 0;
}
@media (max-width: 500px)
{
  span.date {
    float: initial;
    display: block;
  }
  span.job-title {
    display: block;
  }
}