.project
{
  cursor: pointer;
  color: white;
  width: calc(100% - 30px);
  border: 1px solid #98cefb;
  display: block;
  padding: 30px;
  margin: 20px 15px;
  vertical-align: middle;
}
.project-title
{
  display: inline-block;
}
.project:hover
{
  color: white;
  text-decoration: none;
  background: #98cefb12;
}
.project-header {
  width: 100%;
}
.project-language {
  background: #6c74ca54;
  font-size: 9pt;
  padding: 3px 6px;
  border-radius: 5px;
  margin: 0 5px 5px;
  display: inline-block;
}
.external-link-icon-holder {
  display: inline-block;
  float: right;
  width: 55px;
}
.fa.fa-external-link {
  color: white;
  float: right;
  font-size: 20px;
  margin-left: 15px;
}
.fa.fa-external-link:hover {
  color: #77a5cc;
}
.hidden {
  display: none !important;
}
.github-link {
  float: right;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
}
.github-link path {
  fill: #fff;
}
.github-link:hover path {
  fill: #77a5cc;
}
.project-image {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}
.project-summary {
  vertical-align: middle;
  display: inline-block;
  width: 60%;
  margin-left: 5%;
  overflow: hidden;
}
@media (max-width: 900px)
{
  .project {
    max-width: 500px;
    display: inline-block;
    padding: 20px;
  }
  .project-image {
    width: 100%;
  }
  .project-summary {
    display: block;
    width: 100%;
    margin: 0;
    font-size: 11pt;
  }
}