.homepage-container {
  background: none;
  padding: 10pt 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.header-holder {
  background: none;
  text-align: center;
  padding: 15pt 1pt;
  top: 50%;
  position: absolute;
  transform: translate(0, -50%);
  width: 100%;
}

.header-text {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 4.5rem;
}
.header-subtext {
  font-family: 'Roboto', sans-serif;
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}
@media (max-width: 725px) {
  .header-text {
    font-size: 2.3rem;
  }
  .header-subtext {
    font-size: 1.3rem
  }
}

.colored {
  color: #54d27d;
}
